
<li *ngFor="let url of urls"><a href="{{ url.url }}">{{ url.name }}</a></li>

<li>
  <span>categories</span>
  <ul><li *ngFor="let category of categories"><a (click)="onClickCategory(category.id)" routerLink="/">{{ category.name }}</a></li></ul>
</li>

<li>
  <span>brands</span>
  <ul><li *ngFor="let brand of brands"><a (click)="onClickBrand(brand.id)" routerLink="/">{{ brand.name }}</a></li></ul>
</li>

<li class="search">
  <app-search></app-search>
</li>

<li class="cart">
  <a routerLink="/cart">🛒</a>
</li>