
li {
  font-weight: bold;
  list-style: none;
  position: relative;
}

li:is(:hover, :focus) > ul {
  display: block;
  max-height: 200px;
}

li.search {
  align-items: center;
  column-gap: 15px;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

li.search:hover {
  cursor: pointer;
}

li:not(.search) span::after {
  content: '▾';
  margin-left: 5px;
}

li > ul {
  max-height: 0px;
  min-width: 200px;
  overflow: hidden;
  position: absolute;
}