<table>
  <thead>
    <tr>
      <th>product</th>
      <th>product name</th>
      <th>product quantity</th>
      <th>product color</th>
      <th>product size</th>
      <th>remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th><img src="{{ product.product.image }}" alt="{{ product.product.name }}"></th>
      <th><a routerLink="/product" (click)="setProduct(product.product)">{{ product.product.name }}</a></th>
      <th>
        <div class="product-quantity">
          <span>{{ product.quantity }}</span>
          <div class="product-quantity-buttons">
            <button class="product-btn-quantity" (click)="changeQuantity(product.identification, product.quantity + 1)">+</button>
            <button class="product-btn-quantity" (click)="changeQuantity(product.identification, product.quantity - 1)" *ngIf="product.quantity > 1">-</button>
          </div>
        </div>
      </th>
      <th>{{ product.color }}</th>
      <th>{{ product.size }}</th>
      <th><button class="product-btn-remove" (click)="removeProduct(product.identification)">remove</button></th>
    </tr>
  </tbody>
</table>