<table>
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>quantity</th>
      <th>color</th>
      <th>size</th>
      <th>price</th>
      <th>remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th><img src="{{ product.product.image }}" alt="{{ product.product.name }}"></th>
      <th><a routerLink="/product" (click)="setProduct(product.product)">{{ product.product.name }}</a></th>
      <th>
        <div class="product-quantity">
          <span>{{ product.quantity }}</span>
          <div class="product-quantity-buttons">
            <button class="product-btn-quantity" (click)="changeQuantity(product.identification, product.quantity + 1)">+</button>
            <button class="product-btn-quantity" (click)="changeQuantity(product.identification, product.quantity - 1)" *ngIf="product.quantity > 1">-</button>
          </div>
        </div>
      </th>
      <th>{{ product.color }}</th>
      <th>{{ product.size }}</th>
      <th *ngIf="product.product.sale[0] === true">€ {{ product.product.discountedPrice }}</th>
      <th *ngIf="product.product.sale[0] === false">€ {{ product.product.price }}</th>
      <th><button class="product-btn-remove" (click)="removeProduct(product.identification)">remove</button></th>
    </tr>
  </tbody>
</table>

<table class="cart-total"> 
  <tr>
    <th>total</th>
    <th>€ {{ total }}</th>
  </tr>
</table>