
img {
  height: auto;
  max-width: 250px;
}

.products-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row wrap;
  flex-grow: 1;
  justify-content: center;
  overflow-y: auto;
}

.product {
  align-self: start;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  row-gap: 15px;
  text-align: center;
}

.product-price,
.product-status {
  background-color: var(--product-list-info-background-color);
  color: var(--product-list-info-font-color);
  font-weight: bold;
  padding: 0 5px;
  position: absolute;
}

.product-price {
  bottom: 30px;
  right: 30px;
}

.product-status {
  left: 30px;
  top: 60px;
}

.product-name::before {
  content: '( ';
}

.product-name::after {
  content: ' )';
}

/* Pagination */

pagination-controls ::ng-deep .ngx-pagination .current {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

pagination-controls ::ng-deep .ngx-pagination a:hover {
  background-color: transparent;
}

pagination-controls ::ng-deep .ngx-pagination .pagination-previous.disabled::before,
pagination-controls ::ng-deep .ngx-pagination .pagination-previous:not(.disabled) a::before {
  content: '< ';
  margin-right: 15px;
}

pagination-controls ::ng-deep .ngx-pagination .pagination-next.disabled::after,
pagination-controls ::ng-deep .ngx-pagination .pagination-next:not(.disabled) a::after {
  content: ' >';
  margin-left: 15px;
}

pagination-controls ::ng-deep .ngx-pagination .pagination-previous:not(.disabled):hover a::before,
pagination-controls ::ng-deep .ngx-pagination .pagination-next:not(.disabled):hover a::after {
  text-decoration: underline;
}