<span class="product-name"><a routerLink="/product" (click)="setProduct(product)">{{ product.name }}</a></span>

<div class="product-info-main">
  <img src="{{ product.image }}" alt="{{ product.name }}">
  <span class="product-price">€ {{ product.price }}</span>
  <span class="product-status" *ngIf="product.quantity === 0">sold out</span>
</div>

<div class="product-info-page" *ngIf="router.url === '/product'">
  <span class="product-description">{{ product.description }}</span>
  <ul class="product-colors">
    <span>colors:</span>
    <li *ngFor="let color of availableColors">{{ color.name }}</li>
  </ul>
  <ul class="product-sizes">
    <span>sizes:</span>
    <li *ngFor="let size of availableSizes">{{ size.name }}</li>
  </ul>

  <button class="product-btn-add-to-cart" (click)="addToCart(product)" routerLink="/cart">add to cart</button>
</div>