<nav class="user-nav">
  <a *ngFor="let el of nav; let i = index" (click)="changeContent(i)">{{ el.str }}</a>
</nav>

<div class="user-content">
  <h3>{{ currentBlock }}</h3>

  <div class="user-block">
    <ul class="list">
      <li *ngFor="let entry of userElements">
        <div class="left">{{ entry[0] }}</div>
        <span class="right">{{ entry[1] }}</span>
      </li>
    </ul>

    <button class="user-btn-edit" (click)="clickEditBtn()">edit settings</button>
  </div>

  <div class="user-block">b</div>
  <div class="user-block">c</div>

  <div class="user-block">
    <form class="user-settings" id="user-settings" [formGroup]="userForm">
      <fieldset *ngFor="let entry of userElements">
        <label class="left">{{ entry[0] }}</label>
        <input class="right" type="text" placeholder="{{ entry[1] }}" formControlName="{{ entry[0] }}">
      </fieldset>
    </form>

    <button class="user-btn-save" (click)="clickSaveBtn()">save settings</button>
  </div>
</div>